.chat
  .main_header
    .main_header__left
      .main_header__left__title
        グループ名
      %ul.main_header__left__members
        Member：
        %li.main_header__left__members__member
          め
        %li.main_header__left__members__member
          め
        %li.main_header__left__members__member
          め
    .main_header__right
      = link_to "#" do
        .main_header__right__btn Edit
  .chat_messages
    .chat_messages__group
      .chat_messages__group__gatmessage
        .chat_messages__group__gatmessage__username
          みっつー
        .chat_messages__group__gatmessage__date
          2020/03/07(Sat) 20:41:33
      .chat_messages__group__gatmessage__message
        猫はかわいい

    .chat_messages__group
      .chat_messages__group__gatmessage
        .chat_messages__group__gatmessage__username
          みっつー
        .chat_messages__group__gatmessage__date
          2020/03/07(Sat) 20:41:33
      .chat_messages__group__gatmessage__message
        猫はかわいい
    .chat_messages__group
      .chat_messages__group__gatmessage
        .chat_messages__group__gatmessage__username
          みっつー
        .chat_messages__group__gatmessage__date
          2020/03/07(Sat) 20:41:33
      .chat_messages__group__gatmessage__message
        猫はかわいい

  .form
    %form.new-message
      .message-box
        %input{class: "message-box__message",type: 'text', placeholder: 'type a message'}
        %label{class: "message-box__image"}
          %i.far.fa-images
          %input{class: "message-box__image__file", type: 'file'}
      %input{class: "submit-btn", type: 'submit', value: 'Send'}