.chat {
  width: calc(100% - 300px);
  .main_header {
    background-color: $color-white;
    border: 1px solid #eeeeee;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px 0;
    &__left {
      margin-top: 35px;
      &__title {
        color: #333;
        font-size: 20px;
        margin-bottom: 15px;
      }
      &__members {
        display: flex;
        color: #999;
        font-size: 12px;
        &__member {
          margin-left: 5px;
        }
      }
    }
    &__right {
      position: relative;
      width: 72px;
      height: 40px;
      margin-top: 28px;
      line-height: 40px;
      &__btn{
        position: absolute;
        color: #38aef0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        padding: 0 20px 0;
        border: 1px solid #38aef0;
      }
    }
  }
  .chat_messages{
    height: calc(100% - 190px);
    background-color: #fafafa;
    padding: 35px 0 0 40px;
    overflow: auto;
    &__group{
      &__gatmessage{
        display: flex;
        padding-bottom: 12px;
        &__username{
          color: #333;
          font-size: 16px;
          font-weight: bold;
        }
        &__date{
          color: #999;
          font-size: 12px;
          padding-left: 10px;
        }
      &__message{
        color: #434a51;
        font-size: 14px;
        padding-bottom: 46px;
      }
      }
    }
  }

  .form {
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;
    width: 100%;
    .message-box{
      height: 50px;
      display: flex;
      width: 100%;
      position: relative;
      &__message{
        width: 100%;
        margin-right: 15px;
        padding: 0 10px;
      }
      &__label{
        position: absolute;
        top: 15px;
        right: 130px;
        &__image {
          .icon{
            font-size: 20px;
            cursor: pointer;
          }
          &__file {
            display: none;
          }
        }
      }
      &__btn {
        height: 50px;
        background-color: #38aef0;
        color: $color-white;
        cursor: pointer;
        padding: 0 30px;
      }
    }
  }
}